.header-search{
    border: 1px solid #9D9D9D;
    border-radius: 5px;
    max-height: 40px;
    padding-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    

}
.header-search input{
    outline: none !important;
    border: none;
    width: 60%;
    /* font-size: 1rem; */
}
.header-search select{
    margin-right: auto;
    width: auto;
    border: none;
}
.header-search button{
    margin: -1px;
    width: 20%;
    max-width: 45px;

}
.header-search select:focus{
    outline: none;
}
.cart{
    font-size: 2rem;
    
}
